<div class="theme">
  <div class="img-box">
    <div class= "white-box">
      <p>Finding the perfect place for you...</p>
      <div class="progress-bar">
       <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="purple-bar"></div>
        <div class="grey-bar"></div>
      </div>
    </div>
  </div>
  <div class="question-box">
    <h1 class="question" style="font-size: 28px;">Do you have any pets?</h1>
    <div class="button-div">
      <%= form_for(@user, url: question_update_path) do |f| %>
        <div>
          <%= f.check_box :pets, checked: true, hidden: true %>
          <%= f.submit "I have pets", class: "choice-button" %>
        </div>
      <% end %>

      <%= form_for(@user, url: question_update_path) do |f| %>
        <div>
          <%= f.check_box :pets, checked: false, hidden: true %>
          <%= f.submit "I don't have pets", class: "choice-button" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/question_layout' %>
</div>
